{% extends "blog/base.html" %} {% block content %}
<header>
    <nav>
        <div class="nav-wrapper teal">
            <a href="#" class="brand-logo right">Logo</a>
            <span class="">{{user.username}}</span>
            <ul id="nav-mobile" class="left hide-on-small-only">
                <li><a href="/blog/logout">Log out</a></li>
                <li><a href="/blog/newpost">New Post</a></li>
                <li><a href="/blog/welcome">Home</a></li>
            </ul>
        </div>
    </nav>
</header>
<main class="container">
    <div class="row">
        <form class="col s12" id="post_edit_form">
            <div class="row">
                <div class="input-field col s12">
                    <input id="subject" type="text" class="validate" name="subject" value="{{post.subject}}">
                    <label for="subject">Subject</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="content" name="content" class="materialize-textarea">{{post.content}}</textarea>
                    <label for="content">Content This is new</label>
                </div>
            </div>
            <div class="row">
                <button id="post-edit-submit" class="btn waves-effect waves-light" onclick="updatePost('{{post.key.urlsafe()}}')">Save
                  <i class="material-icons right">send</i>
                </button>
                <a href="/blog/post/{{post.key.urlsafe()}}" class="btn waves-effect waves-light">Cancel
                  <i class="material-icons right">clear</i>
                </a>
            </div>
        </form>
    </div>

</main>{% endblock %}