{% extends "blog/base.html" %} {% block content %}
<header>
    <nav>
        <div class="nav-wrapper teal">
            <a href="#" class="brand-logo right">Logo</a>
            <ul id="nav-mobile" class="left hide-on-small-only">
                <li><a href="/blog/login">Login</a></li>
                <li><a href="/blog">Home</a></li>
                <li><a href="/blog/newpost">Post</a></li>
            </ul>
        </div>
    </nav>
</header>
<main class="container">
    welcome there budddy
</main>> {% endblock %